*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 120%;
}
h1{
    font-size: 50px;
    transform: translateY(-30px);
    font-weight: bold;
}
.h1After{
    color: white;
    display: block;
    font-size: 14px;
    transition: 0.5s ease-out;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    color: white;
    background: linear-gradient(-45deg,rgb(84, 190, 204), rgb(56, 104, 158));
    animation: animate 3s ease-in-out infinite;
    background-size: 400% 400%;
}

.location, .temperature{
    height: 30vh;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{   
    flex-direction: column;
}
.temperature-description{
    width: 100%;
    text-align: center;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.show{
    opacity: 0;
    transition: 1s ease;
}


@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}


@media screen and (max-width:1200px)
{    
    .location, .temperature{
        height: 30vh;
        width: 60%;
    }
}