*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.heading{
    position: relative;
    transition: 1s ease-in-out;
}

.h1After{
    color: white;
    text-align: center;
    margin: 30px;
    margin-top: 10px;
    transition: .5s ease ;

}

body{
    font-family: 'Poppins';
    color: white;
    width: 100%;
    background: linear-gradient(-45deg,rgb(52, 179, 218), rgb(2, 120, 189));
    animation: animate 3s ease-in-out infinite;
    background-size: 400% 400%;
}

.location, .temperature{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
}

canvas{
    margin: 10vh 20px;
}
.temperature{
    flex-direction: column;
    height: 35vh;
}

.location-timezone{
    font-size: 32px;
}

#canvas{
    margin: 0 auto;
    text-align: center;
    width: 98%;
    /* padding: 20px; */
}

.temperature-description{
    display: block;
    font-size: 25px;
    text-align: center;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section h2{
    font-size: 40px;
}

.degree-section span{
    margin: 10px;
    font-size: 32px;
}

.show{
    opacity: 0;
    transition: 1s ease;
}

.search-location{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.search-location #search{
    display: inline-block;
    font-size: 13px;
    padding: 3px;
    border-radius: 6px;
    height: 25px;
    background-color: rgb(56, 104, 158);
    color: white;
}

.search-location #textbox{
    border-radius: 6px;
    text-decoration: none;
    height: 30px;
    width: 300px;
    font-size: 15px;
    padding-left: 10px;
}

.icons{
    animation: fade 3s ease-in-out infinite;
}

.MaxMin{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

.MaxMin div{
    border: solid #ffffff 2px;
    padding: 10px;
}
.MaxMin h3{
    font-size: 30px;
}

.max, .min{
    margin-right: 3px;
}

.MaxMin span{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 24px;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}


@media screen and (max-width:1200px)
{    
    .location, .temperature{
        height: 160px;
        width: 60%;
    }
}