*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 120%;
}
h1{
    font-size: 50px;
    transform: translateY(-30px);
    font-weight: bold;
    transform: translateY(20px);
    display: block;
    /* background-color: pink; */
}
.h1After{
    color: white;
    display: block;
    font-size: 14px;
    transition: 0.5s ease-out;
    margin: 30px;
    margin-bottom: 40px;
    height: 40px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    color: white;
    background: linear-gradient(-45deg,rgb(52, 179, 218), rgb(2, 120, 189));
    /* background: linear-gradient(-45deg,#4b7c95,#143f57); */
    animation: animate 3s ease-in-out infinite;
    background-size: 400% 400%;
}

.location, .temperature{
    height: 25vh;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-40px);
}

.temperature{   
    flex-direction: column;
}
.temperature-description{
    width: 100%;
    text-align: center;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.show{
    opacity: 0;
    transition: 1s ease;
}
.search-location{
    transform: translateY(-40px);
}
.search-location #search{
    display: inline-block;
    font-size: 13px;
    padding: 3px;
    border-radius: 6px;
    text-decoration: none;
    height: 25px;
    /* transform: translateY(-2px); */
    background-color: rgb(56, 104, 158);
    color: white;
    box-shadow: 0em;
}
.icons{
    animation: fade 3s ease-in-out infinite;
}
.search-location #textbox{
    border-radius: 6px;
    text-decoration: none;
    height: 30px;
    width: 300px;
    font-size: 15px;
    padding-left: 10px;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}


@media screen and (max-width:1200px)
{    
    .location, .temperature{
        height: 30vh;
        width: 60%;
    }
}